
shopApigoodListItem {
  button {
    width: 186px;
    height: 46px;
    border-radius: 23px;
    background-color: #1875f0;
    border: none;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    background-size: 20px 20px;
    background-position: 80%;
    padding-right: 30px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGlkPSJzaG9wcGluZy1jYXJ0LWxpbmUiIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij4NCiAgICA8cGF0aCBpZD0iUGF0aF8yMzc2IiBmaWxsPSJub25lIiBkPSJNMCAwaDI0djI0SDB6IiBkYXRhLW5hbWU9IlBhdGggMjM3NiIvPg0KICAgIDxwYXRoIGlkPSJQYXRoXzIzNzciIGZpbGw9IiMxODc1ZjAiIGQ9Ik00IDE2VjRIMlYyaDNhMSAxIDAgMCAxIDEgMXYxMmgxMi40MzhsMi04SDhWNWgxMy43MmExIDEgMCAwIDEgLjk3IDEuMjQzbC0yLjUgMTBhMSAxIDAgMCAxLS45Ny43NTdINWExIDEgMCAwIDEtMS0xem0yIDdhMiAyIDAgMSAxIDItMiAyIDIgMCAwIDEtMiAyem0xMiAwYTIgMiAwIDEgMSAyLTIgMiAyIDAgMCAxLTIgMnoiIGRhdGEtbmFtZT0iUGF0aCAyMzc3Ii8+DQo8L3N2Zz4NCg==");
    color: #ffffff;
  }
}
