#e__banner__ {
  display: grid;
  cursor: pointer;
  width: 190px;
  grid-template-columns: repeat(2, minmax(0, 1fr));

  .e__banner_img {
    background-size: 20px 20px;
    background-position: 90%;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGlkPSJzaG9wcGluZy1jYXJ0LWxpbmUiIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij4NCiAgICA8cGF0aCBpZD0iUGF0aF8yMzc2IiBmaWxsPSJub25lIiBkPSJNMCAwaDI0djI0SDB6IiBkYXRhLW5hbWU9IlBhdGggMjM3NiIvPg0KICAgIDxwYXRoIGlkPSJQYXRoXzIzNzciIGZpbGw9IiMxODc1ZjAiIGQ9Ik00IDE2VjRIMlYyaDNhMSAxIDAgMCAxIDEgMXYxMmgxMi40MzhsMi04SDhWNWgxMy43MmExIDEgMCAwIDEgLjk3IDEuMjQzbC0yLjUgMTBhMSAxIDAgMCAxLS45Ny43NTdINWExIDEgMCAwIDEtMS0xem0yIDdhMiAyIDAgMSAxIDItMiAyIDIgMCAwIDEtMiAyem0xMiAwYTIgMiAwIDEgMSAyLTIgMiAyIDAgMCAxLTIgMnoiIGRhdGEtbmFtZT0iUGF0aCAyMzc3Ii8+DQo8L3N2Zz4NCg==");
  }

  span:first-child {
    padding-right: 20px;
    align-items: center;
    border-radius: 0 23px 23px 0;
    background-color: #2ecc71;
    border: solid 2px #2ecc71;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 4.17;
    letter-spacing: normal;
    text-align: right;
    color: #ffffff;
    height: 34px;
    display: flex;
    justify-content: center;

  }

  #e__banner__counter {
    color: #2ecc71;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 4.17;
    letter-spacing: normal;
    display: flex;
    align-items: center;
    border: solid 2px #2ecc71;
    justify-content: center;
    height: 34px;
    border-radius: 23px 0 0 23px;
    background-color: white;
  }
}
